.ability {
    margin-bottom: 20px;

    app-rating {
        margin: 5px 0;
    }
}

.ability:last-child {
    margin-bottom: 0;
}

.ability app-rating:last-child {
    border-bottom-color: transparent;
}