:host {
    min-height: 200px;
    background-color: #ff5555 !important;
    color: white;
    
    a {
        color: white;
    }
}

#header {
    height: 128px;
    background-color: black;
    background-image: url('./../../../assets/images/header.png');
    background-size: cover
}

#profil {
    position: relative;
    top: -64px;

    .photo {
        height: 128px;
        width: 128px;
        margin: auto;
        border: 3px solid white;
        border-radius: 100%;
        background-color: white;
        background-image: url('./../../../assets/images/dimitri.png');
        background-size: cover;
        filter: drop-shadow(1px 1px 50px);
    }

    .informations {
        margin-top: 10px;
        text-align: center;

        .name {
            margin: 0;
            padding: 0;
        }
    
        .position {
            opacity: 0.9;
        }
    
        .location {
            opacity: 0.7;
        }
    }
}

#about {
    margin-top: 25px;
}

.container {
    padding: 0 25px 25px 25px;

    h1 {
        padding: 0 0 10px 0;
    }
}
