@import './../../../../variables.scss';

app-skills /deep/ {
    .ability {
        margin-bottom: 0 !important;
    }

    app-rating {
        margin: 0 0 0 10px !important;
    
        /deep/ .rating .star {
            width: 5px !important;
            height: 5px !important;
            border: 0.5px solid $dark !important;
        }
    }
}