app-education /deep/ app-presentation /deep/ {
    .logo img {
        max-height: 15px !important;
    }

    .detail {
        padding: 0 0 0 26px;
        margin-right: 5px;
        border-color: transparent;
        font-style: italic;
    }

    .description {
        color: darkgrey;
    
        p {
            padding: 0px 5px !important;
        }
    }

    .links {
        display: none;
    }
}
