@import './../variables.scss';

.container {
    display: block;
    background: url('./../assets/images/stardust.png');
    background-attachment: fixed;
}

app-resume {
    margin: auto;
    width: 700px;

    /deep/ * {
        z-index: 1;
    }
}

#copyright {
    color: $dark;
    opacity: 0.5;
    text-align: right;
}
