.root {
    display: block;
    background: url('./../assets/images/stardust.png');
}

.container {
    display: block;
    background: url('./../assets/images/particules.png');
}

app-resume {
    margin: auto;
    width: 700px;
}
