.root {
    display: block;
    background: url('./../assets/images/stardust.png');
}

.container {
    display: block;
    background: url('./../assets/images/particules.png');
}

app-resume {
    margin: auto;
    width: 700px;
}

app-pdf-template {
    position: absolute;
    left: -1000%;
    z-index: -1000;
}
