@import '../../variables.scss';

:host {
    display: block;
    border-bottom: 1px solid $light;
    margin-left: 10px;
}

.rating {
    display: flex;
    float: right;
    min-width: 180px;

    .star {
        width: 11px;
        height: 11px;
        margin: 2px;
        border: 1.5px solid $dark;
        border-radius: 100%;
        display: inline-block;
    }

    .star.full {
        background-color: $dark;
    }
}