@import './../../../variables.scss';

:host {
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 18.5px;

    .title {
        display: flex;
        align-items: center;
            
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 50px;
            max-height: 30px;
            
            img {
                max-width: 50px;
                max-height: 30px;
                object-fit: contain;
                object-position: center;
            }
        }
        
        app-label {
            margin-left: 3px;

            .subtitle {
                white-space: nowrap!important;
            }
        }
    }

    .tags {
        display: inline-flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        min-width: 225px;

        .tag {
            margin: 1px 5px 1px 0;
            padding: 4px;
            border-radius: 3px;
            background-color: $main;
            font-size: 16px;
            color: white;
            white-space: nowrap;
            transition-duration: 200ms;
        }

        .tag:hover {
            opacity: 0.7;
        }

        .date {
            background-color: steelblue;
        }
    }
}

.container.noLogo {
    margin-left: 20px;
    height: auto;

    .logo, .logo img {
        display: none !important;
    }
}

.detail {
    margin-left: 25px;
    padding: 10px 0 10px 26px;
    border-left: solid 3px lightgrey;
    opacity: 0.8;
    text-align: justify;
}

.description {
    margin-top: 10px;

    p {
        padding: 5px;
        margin-left: 20px;
    }
}

app-link {
    margin-left: 20px;
}
