<div class="container" [ngClass]="{'noLogo': presentation.logo == null}">
    <div class="title">
        <img *ngIf="presentation.logo" class="logo" [src]="'./../../assets/logos/' + presentation.logo"/>
        <app-label [title]="presentation.title" [subtitle]="presentation.subtitle"></app-label>
    </div>
    <div class="tags">
        <div *ngFor="let tag of presentation.tags" class="tag">{{ tag }}</div>
        <div *ngIf="presentation.date" class="tag date">{{ presentation.date }}</div>
    </div>
</div>

<div *ngIf="presentation.detail" class="detail">{{ presentation.detail }}</div>

<div *ngIf="presentation.description" class="description">
    <p *ngFor="let paragraphe of presentation.description" [innerHTML]="paragraphe"></p>
</div>

<div *ngIf="presentation.links" class="links">
    <app-link *ngFor="let link of presentation.links" [link]="link"></app-link>
</div>