:host:hover {
    .flags .flag img {
        filter: none;
    }
}
h1 {
  color: white;
  font-size: 22px;
}

.flags {
    display: flex;
    margin: 10px 0 0 0;
    flex-direction: column;

    .flag {
        display: flex;
        align-items: center;
        padding: 0;
        margin-right: 100px;
        
        img {
            width: 25px;
            height: 15px;
            margin: 5px 0 0 0;
            transition-duration: 200ms;
            filter: grayscale(.5);
        }

        .lang {
            font-weight: bold;
            white-space: nowrap;
            text-align: center;
            padding-left: 5px;
        }
    }

    .level, .certification {
        color: darkgrey;
        font-weight: bold;
        white-space: nowrap;
    }
}
