@import '../../variables.scss';

:host {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: $red;
    margin: 20px 0;
    transition-duration: 200ms;
}

.page {
    background-color: white;
    margin: 20px 0;
    padding: 50px;
    transition-duration: 200ms;
}

.top:hover, .page:hover {
    box-shadow: 0 0 10px black;
}
