@import '../../variables.scss';

:host {
    display: flex;
    flex-direction: column;
}

app-topcard {
    background-color: $red;
    margin: 20px 0;
    transition-duration: 200ms;
}

.page {
    background-color: white;
    margin: 20px 0;
    padding: 50px;
    transition-duration: 200ms;
}

app-topcard:hover, .page:hover {
    box-shadow: 0 0 10px black;
}

@include desktop {
    :host {
        position: relative;
        left: 180px;
    }

    app-topcard {
        width: 350px;
        position: fixed;
        margin-left: -360px !important;
    }
}
