@import './../../../variables.scss';

:host {
    display: block;
    border-bottom: 1px solid $light;
    margin-left: 10px;
}

:host:hover {
    .rating .star {
        box-shadow: 0 0 1px black;
    }
}

app-label {
    max-width: 500px;
}

.rating {
    display: flex;
    float: right;
    min-width: 90px;
    transition-duration: 200ms;
    justify-content: flex-end;

    .star {
        width: 11px;
        height: 11px;
        margin: 2px;
        border: 1.5px solid $dark;
        border-radius: 100%;
        display: inline-block;
    }

    .star.full {
        background-color: $dark;
    }
}