@import './../../../variables.scss';

.ratingContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

app-label {
  max-width: 500px;
}

.rating {
  display: flex;
  min-width: 90px;
  justify-content: flex-end;
  transition-duration: 200ms;

  .star {
      width: 15px;  // Adjust the size as needed
      height: 15px;
      margin: 3px;
      border-radius: 50%;
      border: 1.5px solid $dark;
      display: inline-block;

      &.empty {
          background-color: transparent;
      }

      &.full {
          background-color: $dark;
      }

      &.half {
          background: linear-gradient(to right, $dark 50%, transparent 50%);
      }
  }
}
