$desktop-width: 1024px;
$desktop-height: 768px;
$desktop-media: "(min-width: #{$desktop-width}) and (min-height: #{$desktop-height})";
$mobile-media: "(max-width: #{$desktop-width}) and (max-height: #{$desktop-height})";

@mixin desktop {
  @media #{$desktop-media} {
    @content;
  }
}

@mixin mobile {
    @media #{$mobile-media} {
        @content;
    }
}

$dark: #2C2B2F;
$light: #e8e8e8;

$second: #71C6CD;
$main: #283036;
$third: $light;

// $main: #415065;
// $second: #e8ae30;

// $main: #ab4141;
// $second: #415065;

// $main: #ff5555;
// $second: steelblue;
