@import './../../../variables.scss';

app-presentation {
    margin-left: -25px;
    padding: 2px 0 6px;
    border-bottom: 1px solid $light;
}

app-presentation:nth-child(2) {
    padding-top: 0 !important;
}

app-presentation:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
